body {
    margin: 0;
    background-color: aqua;
}

.container {
    display: flex;
    justify-content: space-around;
}

.displayH {
    color: red;
    background-color: black;
    width: 155cm;
    height: 120px;
}